#home{
    color: whitesmoke;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    overflow: hidden;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  body{
    text-align:center;
    padding-top: 800px;
  }

  #home_pic{
      height: 200px;
      margin-top: 250px;
      border-radius: 20px;
  }
  #mes{
    font: size 20px;
    text-align:center;
    color:black;
  }

  #One{
    height: 600px;
    width: 900px;
}

#Two_f{
    height: 600px;
    width: 900px;
}

#Three{
    height: 600px;
    width: 900px;
}
#Four{
    height: 600px;
    width: 900px;
}

#Five{
    height: 600px;
    width: 900px;
}

#Six{
    height: 600px;
    width: 900px;
}

#Seven{
    height: 600px;
    width: 900px;
}

#Eight{
    height: 600px;
    width: 900px;
}
#one_o{
    width: 300px;
    height: 250px;
}

#two_o{
    width: 300px;
    height: 250px;
}

#three_o{
    width: 300px;
    height: 250px;
}

#four_o{
    width: 300px;
    height: 250px;
}

#five_o{
    width: 300px;
    height: 250px;
}

#six_o{
    width: 300px;
    height: 250px;
}

#seven_o{
    width: 300px;
    height: 250px;
}

#eight_o{
    width: 300px;
    height: 250px;
}